# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Build / dist
dist/
build/
*.egg-info/
